<footer class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
  <nav class="mx-auto">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">JSS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">運営会社</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">利用規約</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">プライバシーポリシー</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">お問い合わせ</a>
      </li>
    </ul>
  </nav>
</footer>
